h1 {
	text-align: center;
}
body {
	display: flex;
	margin: 8px;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	font-family: sans-serif;
}
form {
	padding: 50px;
	background-color: aquamarine;
	display: flex;
	width: 30%;
	flex-direction: column;
}

.submit_btn {
	background-color: orange;
	padding: 2%;
	margin-top: 20px;
	color: #fff;
	font-size: 22px;
	border: 0;
	cursor: pointer;
}

input {
	padding: 2%;
}

label {
	font-size: 20px;
	font-weight: bolder;
	margin: 10px 0px 10px 0px;
}
